 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-1 .u-shape-1 {
  width: 849px;
  height: 578px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 355px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 486px;
  height: 702px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -863px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 659px;
  min-height: 632px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -667px 45px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-1 .u-image-1 {
  width: 525px;
  height: 494px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 108px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 433px;
  height: 367px;
  --radius: 50px;
  margin: -469px 91px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 519px;
  min-height: 453px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -257px auto 60px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 0 80px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -185px 40px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 253px 25px 0 auto;
  padding: 19px 18px 21px 16px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.875em;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -88px auto 0 25px;
  padding: 19px 37px 21px 35px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.875em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-shape-1 {
    height: 568px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -853px;
  }

  .u-section-1 .u-group-1 {
    width: 526px;
    min-height: 568px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    width: 363px;
    margin-top: -306px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -326px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-1 .u-shape-1 {
    height: 746px;
    width: 615px;
    margin-top: 496px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -1172px;
  }

  .u-section-1 .u-group-2 {
    width: 579px;
    margin-top: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -137px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-1 .u-shape-1 {
    height: 729px;
    width: 457px;
    margin-top: 432px;
  }

  .u-section-1 .u-shape-2 {
    width: 382px;
    height: 575px;
    margin-top: -1091px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    min-height: 551px;
    margin-top: -540px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 413px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -104px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-shape-1 {
    height: 679px;
    margin-top: 342px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 224px;
    height: 427px;
    margin-top: -951px;
  }

  .u-section-1 .u-group-1 {
    min-height: 357px;
    width: 286px;
    margin-top: -392px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 320px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 288px;
    margin-top: -295px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -130px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 230px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -202px;
    margin-right: 7px;
    margin-left: auto;
  }
}

.u-block-73c3-17:not([data-block-selected]):not([data-cell-selected]),
.u-block-73c3-17:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-73c3-17:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 784px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 31px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 17px 92px 0;
}

.u-section-2 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 413px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 87px;
  width: 80px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 0.15;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 87px;
  width: 80px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 0.15;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 87px;
  width: 80px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 0.15;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 87px;
  width: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 0.15;
  --radius: 24px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-size: 0.875rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 60px;
  padding: 8px 114px 9px 113px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 784px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 334px;
  }

  .u-section-2 .u-icon-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    padding: 16px;
  }

  .u-section-2 .u-icon-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    padding: 16px;
  }

  .u-section-2 .u-icon-3 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    padding: 16px;
  }

  .u-section-2 .u-icon-4 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    padding: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 58px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 637px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1254px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 77px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  width: 722px;
  margin: 20px auto 0;
}

.u-section-3 .u-shape-1 {
  height: 302px;
  margin-top: 274px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-1 {
  height: 713px;
  width: 1140px;
  grid-gap: 17px;
  margin: -523px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 0px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 400;
  background-image: none;
  border-style: none;
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 53px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 940px;
  }

  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 398px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    margin-top: -647px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 211px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-top: -460px;
  }
} .u-section-4 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 803px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 478px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 215px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0;
  padding: 20px 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-4 .u-group-1 {
    width: 563px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 84.43% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-4 .u-group-1 {
    width: 493px;
    margin-bottom: 49px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 80.16% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 794px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 32px 0 32px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 730px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 98px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 50px 0;
}

.u-section-5 .u-line-1 {
  width: 398px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  line-height: 1.8;
  font-size: 1.375rem;
  width: 357px;
  margin: 98px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: -61px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 54px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 731px;
  background-image: url("images/r444.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --radius: 50px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 579px 12px 0 auto;
  padding: 16px 18px 16px 17px;
}

.u-section-5 .u-icon-1 {
  font-size: 2.1429em;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 666px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-line-1 {
    width: 357px;
    height: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 51px;
  }

  .u-section-5 .u-image-1 {
    min-height: 603px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 525px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 98px;
  }

  .u-section-5 .u-line-1 {
    width: 417px;
    transform-origin: left center;
  }

  .u-section-5 .u-image-1 {
    min-height: 462px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 774px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-container-layout-1 {
    padding: 50px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 611px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 548px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-5 .u-text-1 {
    text-transform: none;
    font-size: 1.875rem;
  }

  .u-section-5 .u-line-1 {
    width: 320px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    width: 320px;
  }

  .u-section-5 .u-image-1 {
    min-height: 385px;
  }
}